<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <title>Add</title>
</head>
<body>
<h1>Add new data point</h1>
<h2>Fill in the values below to add
    a new data point to database.</h2>

<form method="POST" action="{{ url_for('web.add') }}">
    <label>Category:
        <input name="category">
    </label><br>
    <label>Width:
        <input name="width">
    </label><br>
    <label>Height:
        <input name="height">
    </label><br>
    <label>Length:
        <input name="length">
    </label><br>
    <label>Weight:
        <input name="weight">
    </label><br>
    <button type="submit">Add</button>
</form>

<p><a href="{{ url_for('web.home') }}">Return to Home</a></p>
</body>
</html>
